<% provide(:title, "Home") %>

<div class="page-header">
	<h1>Identifer　　<small>HOME</small></h1>
</div>
<li>
	<p>Identiferへようこそ！</p>
</li>
<li>
	<p>このアプリケーションはTwitterアカウント名とユーザーを一致させるためのアプリケーションです</p>
</li>
<li>
	<p>同じグループに属している人の情報を閲覧することができます</p>
</li>


<p>
	<%= link_to "Log in", login_path,:class => 'btn btn-primary btn-lg btn-block'%>
</p>
<p>
	<%=link_to "Sign in", new_user_path,:class => 'btn btn-info btn-lg btn-block'%>
</p>
