<% provide(:title, "Home") %>

<div class="page-header">
	<h1>Identifer　　<small>HOME</small></h1>
</div>
<li>
	<p>Identiferへようこそ！</p>
</li>
<li>
<p>サークル、クラスの人のTwitterアカウントと名前、顔が一致しないことはありませんか？</p>
</li>
<li>
	<p>このアプリケーションはTwitterアカウント名とユーザー情報をコミュニティーで共有できるアプリケーションです</p>
</li>
<li>
	<p>Identiferを使えばどのアカウントが誰なのか一目瞭然です</p>
</li>


<h1>使い方</h1>

<p>1.ユーザー登録を行ってください</p>
<p>2.ユーザー登録時に設定したグループ名と同じグループ名を持つユーザーの名前、Twitterアカウント、Imageを閲覧することができます</p>
<p>3.グループ名はユーザーページから変更することができます</p>




<p>
	<%= link_to "Log in", login_path,:class => 'btn btn-primary btn-lg btn-block'%>
</p>
<p>
	<%=link_to "Sign up", new_user_path,:class => 'btn btn-info btn-lg btn-block'%>
</p>
