<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group_library.name %>
</p>

<%= link_to 'Edit', edit_group_library_path(@group_library) %> |
<%= link_to 'Back', group_libraries_path %>
