<%- model_class = User -%>
<div class="page-header">
	<h1>Identifer　　<small>Sign up</small>     <small><%=link_to "Go HOME", home_path, class: "btn btn-success" %></small></h1>
</div>
<%= render :partial => 'form' %>
