<header>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
       <h4><%= link_to "User Page", current_user %><h4>
         <dd><%= current_user.group %></dd>
       </div>
     </div>
   </div>
 </header>