<header>
  <div class="navbar navbar-body" role="navigation">
    <div class="navbar-header">
      <div class="container">
      <tr>
       <h4><%= link_to "User Page", current_user,:class => 'btn btn-primary' %> <%= link_to "Create New Group", new_group_path,:class => 'btn btn-primary' %></h4>

         </tr>
       </div>
     </div>
   </div>
 </header>