<header>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
       <h4><%= link_to "User Page", current_user, :class => 'btn btn-primary' %><h4>
         <dd>Group name:<%= current_user.group %></dd>
         <dd>User name:<%= current_user.name %></dd>
       </div>
     </div>
   </div>
 </header>